# hostname/ip of ur mpd server default: localhost
HOST="localhost"

# port of ur mpd server default: 6600
PORT=6600

# network timeout in seconds (floats allowed), default: 10
TIMEOUT=10

# timeout for fetching the result of the idle command is handled seperately, default: None
IDLE_TIMEOUT=None

